body{background-color:#171717;margin:0;padding:0;color:#fff;font-family:Poppins,sans-serif}h2{font-size:60px;margin:0}h3{font-size:45px;margin:0}@media (max-width: 1200px){h2{font-size:40px}}@media (max-width: 480px){h2{font-size:30px}}
