.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.projects-wrapper {
  --r: 30px;
  --s: 60px;
  --x: 160px;
  --y: 30px;

  width: 1600px;
  height: 750px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #222222;
  border-radius: var(--r);

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));

  mask: calc(100% - var(--_d) - var(--x)) 0 var(--_m), 100% calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0, var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

.title-overlay {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(580px);
  margin: 0;
  z-index: 20;
  pointer-events: none;
}

.other-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.item {
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
}

.item li {
  margin: 10px 0;
}

@media (max-width: 1600px) {
  .projects-wrapper {
    width: 1400px;
  }
  .title-overlay {
    transform: translateX(480px);
  }
  .item {

  font-size: 19px;
}
}

@media (max-width: 1440px) {
  .projects-wrapper {
    width: 1200px;
  }
  .title-overlay {
    transform: translateX(380px);
  }
}

@media (max-width: 1200px) {
  .projects-wrapper {
    width: 1000px;
  }
  .title-overlay {
    transform: translateX(310px);
  }

  .projects-wrapper {
    --r: 30px;
    --s: 40px;
    --x: 160px;
    --y: 30px;
  }
}

@media (max-width: 1024px) {
  .projects-wrapper {
    width: 750px;
  }
  .title-overlay {
    transform: translateX(200px);
  }
  .projects-wrapper {
    --x: 140px;
  }
}

@media (max-width: 768px) {
  .projects-wrapper {
    width: 580px;
  }
  .title-overlay {
    transform: translateX(140px);
  }
  .projects-wrapper {
    --x: 120px;
  }
}

@media (max-width: 600px) {
  .projects-wrapper {
    width: 460px;
  }
  .title-overlay {
    transform: translateX(80px);
  }
}

@media (max-width: 480px) {
  .projects-wrapper {
    width: 360px;
  }
  .title-overlay {
    transform: translateX(50px);
  }
  .projects-wrapper {
    --r: 30px;
    --s: 30px;
    --x: 100px;
    --y: 30px;
  }
}
