.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.informations {

  width: 1060px;
  margin-left: 30px;
}

.upper-section {
  display: flex;
  width: 100%; 
}

.about-me {
  padding: 30px;
  box-sizing: border-box;
  height: 390px;
  width: 430px;
  background: #ff8cc6;
  background: linear-gradient(180deg, rgba(255, 140, 198, 1) 0%, rgba(136, 78, 194, 1) 100%);
  border-radius: 30px;
}

.right-panel {
  margin-left: 30px;
}

.cv {
  width: 600px;
  height: 180px;
  background-color: #222222;
  border-radius: 30px;
}
.flex-container {
  display: flex;
  width: 600px;
  height: 180px;
  justify-content: space-between;
  margin-top: 30px;
}

.box{
    width: 283px;
  height: 180px;
  background-color: #222222;
  border-radius: 30px;
}

.lower-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.slim-box {
    width: 330px;
    height: 115px;
    background-color: #222222;
  border-radius: 30px;
}

.photo {
  width: 340px;
  height: 535px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.name {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 25px;
  font-weight: 700;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

