.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 380px;
  height: 330px;
  background-color: #222222;
  border-radius: 30px;
}

.lower-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slim-box {
  width: 385px;
  height: 120px;
  background-color: #222222;
  border-radius: 30px;
}

.name {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 25px;
  font-weight: 700;
}

.parent {
  width: 1600px;
  height: 650px;
  display: grid;
  grid-template-columns: 350px 400px 1fr;
  grid-template-rows: auto auto 120px;
  gap: 30px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.photo {
  grid-row: span 3 / span 3;
  background-color: #222222;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.about {
  grid-row: span 2 / span 2;
  background: #ff8cc6;
  background: linear-gradient(180deg, rgba(255, 140, 198, 1) 0%, rgba(136, 78, 194, 1) 100%);
  border-radius: 30px;
}

.cv {
  grid-column-start: 3;
  grid-row-start: 1;
  height: 140px;
  background-color: #222222;
  border-radius: 30px;
}

.social {
  grid-column-start: 3;
  grid-row-start: 2;
}

.contact {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

@media (max-width: 1600px) {
  .parent {
    width: 1400px;
  }
  .box {
    width: 280px;
  }
  .slim-box {
    width: 320px;
  }
}
@media (max-width: 1440px) {
  .parent {
    width: 1200px;
  }
  .box {
    width: 100%;
    height: 150px;
  }
  .slim-box {
    width: 255px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 1200px) {
  .parent {
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
  }

  .photo {
    grid-row: span 3 / span 3;
  }

  .about {
    grid-row: span 2 / span 2;
  }

  .cv {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .social {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
  }

  .contact {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 485px;
    height: 200px;
  }
  .slim-box {
    width: 315px;
  }
}
@media (max-width: 1024px) {
  .parent {
    width: 750px;
    height: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
  }

  .photo {
    grid-row: span 2 / span 2;
    height: 500px;
  }

  .about {
    grid-row: span 2 / span 2;
  }

  .cv {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
  }

  .social {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
  }

  .contact {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 485px;
    height: 200px;
  }
  .slim-box {
    width: 230px;
  }
}
@media (max-width: 768px) {
  .parent {
    width: 580px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    gap: 30px;
  }

  .photo {
    width: 100%;
    height: 600px;
  }

  .about {
    width: 100%;
    height: 240px;
  }
  .slim-box {
    width: 175px;
  }
}
@media (max-width: 600px) {
  .parent {
    width: 460px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    gap: 30px;
  }

  .photo {
    width: 100%;
    height: 600px;
  }

  .about {
    width: 100%;
    height: 240px;
  }
  .slim-box {
    width: 135px;
  }
}
@media (max-width: 480px) {
  .parent {
    max-width: 360px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
  }

  .photo {
    height: 500px;
  }

  .about {
    height: 240px;
  }
  .slim-box {
    width: 110px;
  }
}
