.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 380px;
  height: 210px;
  background-color: #222222;
  border-radius: 30px;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box img {
  width: 54px;
  height: 54px;
}

.lower-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  color:#C1C1C1;
}

.slim-box {
  width: 385px;
  height: 120px;
  background-color: #222222;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.slim-box img {
  width: 44px;
  height: 44px;
}

.name {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 45px;
  font-weight: 700;
}

.parent {
  width: 1600px;
  height: 560px;
  display: grid;
  grid-template-columns: 350px 400px 1fr;
  grid-template-rows: auto auto 120px;
  gap: 30px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.photo {
  grid-row: span 3 / span 3;
  background-color: #222222;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.about {
  grid-row: span 2 / span 2;
  background: #ff8cc6;
  background: linear-gradient(180deg, rgba(255, 140, 198, 1) 0%, rgba(136, 78, 194, 1) 100%);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-title {
  display: flex;
  justify-content: center;
}

.about-description {
  font-size: 24px;
   text-align: justify;
    text-justify: inter-word;
    hyphens: auto;

}

.cv {
  grid-column-start: 3;
  grid-row-start: 1;
  height: 160px;
  background-color: #222222;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  grid-column-start: 3;
  grid-row-start: 2;
}

.contact {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

.cv-topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cv-topbar img {
  width: 54px;
  height: 54px;
}

.filename {
  font-size: 40px;
  color: #787878;
}

.description {
  font-size: 25px;
  color: #c1c1c1;
  cursor: pointer;
}

.cv-description {
  font-size: 25px;
  color: #c1c1c1;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .parent {
    width: 1400px;
  }
  .box {
    width: 280px;
  }
  .slim-box {
    width: 320px;
  }
  .box .description {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .parent {
    width: 1200px;
    height: 670px;
  }
  .box {
    width: 100%;
    height: 150px;
  }
  .slim-box {
    width: 255px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .box .description {
    font-size: 25px;
  }
  .about-description {
    font-size: 25px;
  }
}
@media (max-width: 1200px) {
  .parent {
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
  }

  .photo {
    grid-row: span 3 / span 3;
  }

  .about {
    grid-row: span 2 / span 2;
  }

  .cv {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .social {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
  }

  .contact {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 485px;
    height: 170px;
  }
  .slim-box {
    width: 315px;
  }

  .about-description {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .parent {
    width: 750px;
    height: 1020px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
  }

  .photo {
    grid-row: span 2 / span 2;
    height: 500px;
  }

  .about {
    grid-row: span 2 / span 2;
  }

  .cv {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    height: 140px;
  }

  .social {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
  }

  .contact {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 485px;
    height: 170px;
  }
  .slim-box {
    width: 230px;
  }

  .about-description {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .parent {
    width: 580px;
    height: 1380px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    gap: 30px;
  }

  .photo {
    width: 100%;
    height: 600px;
  }

  .about {
    width: 100%;
    height: 240px;
  }
  .slim-box {
    width: 175px;
  }
  .box .description {
    font-size: 22px;
  }

  .slim-box .description {
    font-size: 22px;
  }

  .about-description {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .parent {
    width: 460px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    gap: 30px;
  }

  .photo {
    width: 100%;
    height: 600px;
  }

  .about {
    width: 100%;
    height: 240px;
  }
  .slim-box {
    width: 135px;
  }

  .box .description {
    font-size: 15px;
  }

  .slim-box .description {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .parent {
    max-width: 360px;
    height: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
  }

  .photo {
    height: 500px;
  }

  .about {
    height: 240px;
  }
  .slim-box {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-description {
    font-size: 17px;
  }
  .box .description {
    font-size: 11px;
  }

  .slim-box .description {
    display: none;
  }

  .cv-description {
    font-size: 22px;
  }
}
