.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 1285px;
    height: 300px;
    margin-top: 30px;
}

.left-panel {
    grid-column: 1 / 2;
    background-color: #222222;
    border-radius: 20px;
    padding: 30px;
}

.left-panel p {
    font-size: 25px;
   text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

.right-panel {
    grid-column: 2 / 3;
    background-color: #222222;
    border-radius: 20px;
    padding: 30px;
}

h3 {
    margin-bottom: 30px;;
}

.info-item {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.info-item img {
    width: 30px;
    height: 30px;
}