.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.projects-wrapper {
  width: 1600px;
  height: 750px;
  background-color: #222222;
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
  padding: 15px;

}

h2 {
  position: relative;
  bottom: 100px;
}

.game-cards {
  width: 100%;
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 45px;
  gap: 10px;
}

.date {
  font-size: 25px;
}

.hashtag {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(255, 140, 198, 1) 0%, rgba(136, 78, 194, 1) 100%);
  color: white;
  margin: 10px;
  font-size: 25.5px;
  font-weight: 400;
}

.game-card img {
  width:420px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;;
}

@media (max-width: 1600px) {
  .projects-wrapper {
    width: 1400px;
  }
}

@media (max-width: 1440px) {
  .projects-wrapper {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .projects-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .projects-wrapper {
    width: 750px;
    padding: 30px 30px;
    box-sizing: border-box;
  }
  h2 {
    position: relative;
    bottom: 0px;
  }
}

@media (max-width: 768px) {
  .projects-wrapper {
    width: 580px;
  }
}

@media (max-width: 600px) {
  .projects-wrapper {
    width: 460px;
  }
}

@media (max-width: 480px) {
  .projects-wrapper {
    width: 360px;
  }
}
