.container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  padding: 0 20px;
    justify-content: center;
}

.wrapper {
      width: 1430px;
      display: flex;
      justify-content: space-between;
}

.test-game {
width:700px;
height:750px;
background-color: #222222;
border-radius: 30px;
}

.skills {
width:700px;
height: 870px;
background-color: #222222;
border-radius: 30px;
padding: 30px;
box-sizing: border-box;
}

.skills-list {
    margin-bottom: 30px;
}

.hashtag {
  display: inline-block; /* dopasowuje szerokość do treści */
  padding: 10px 25px;     /* odrobinę przestrzeni wokół tekstu */
  border-radius: 25px;   /* zaokrąglenie rogów */
  background: linear-gradient(180deg, rgba(255,140,198,1) 0%, rgba(136,78,194,1) 100%);
  color: white;          /* żeby tekst był widoczny */
  font-weight: bold;
  margin: 10px;
  font-size: 25px;
  font-weight: 400;
}
