.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 1285px;
    /* Usuwamy sztywne height: 300px; */
    min-height: 300px; /* Opcjonalnie: minimalna wysokość, jeśli treści jest mało */

    height: auto; /* Pozwala rosnąć w dół */
}

.left-panel {
    grid-column: 1 / 2;
    background-color: #222222;
    border-radius: 20px;
    padding: 30px;
}

.left-panel p {
    font-size: 25px;
   text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

.right-panel {
    grid-column: 2 / 3;

    border-radius: 20px;
    padding: 30px;

}

h3 {
    margin-bottom: 30px;;
}
