.container {
    background-color: #222222;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 1285px;
    margin: 30px 0px ;
    overflow: auto;
    display: flex;
    flex-direction: column; 
    font-size: 25px;
}

.container-photo-cats {
  margin: 50px auto;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.container-photo {
  margin: 50px auto;
  width: 700px;
  height: 600px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* Łączny czas: 4 slajdy * 4s = 16s */
  animation: round 16s infinite;
}

/* Ręczne ustawienie opóźnień (zamiast pętli @for) */
.photo:nth-child(1) { animation-delay: 12s; }
.photo:nth-child(2) { animation-delay: 8s; }
.photo:nth-child(3) { animation-delay: 4s; }
.photo:nth-child(4) { animation-delay: 0s; }

@keyframes round {
  /* 0% - 25% (4s) -> Zdjęcie się pojawia i trwa */
  0% { opacity: 0; }
  5% { opacity: 1; }  /* Pojawienie (fade in) */
  25% { opacity: 1; } /* Wyświetlanie */
  30% { opacity: 0; } /* Znikanie (fade out) */
  100% { opacity: 0; }
}