.game-title {
      font-size: 90px;
      background: #ff8cc6;
  background: linear-gradient(to top, #ff8cc6 0%, #884ec2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.game-title-container{
    display: flex;
    align-items: center;
    gap:15px;
    margin: 20px 0;
}
.game-title-container img{
   width:40px;
   height: 40px;
}

.arrow {
    background: none;
    border:none;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover img{
    border-radius: 25px;;
}