body {
  background-color: #171717;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 60px;
  margin: 0;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 40px;
    margin: 0;
  }
}
